rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Projects Rules
    match /projects/{projectId} {
      allow read, write: if true;
    }

    // Site Content Rules
    match /siteContent/{docId} {
      allow read, write: if true;
    }

    // Admins Rules
    match /admins/{userId} {
      allow read, write: if true;
    }

    // Leads Rules
    match /leads/{leadId} {
      allow create, read, update, delete: if true;
    }
  }
}
